@charset "UTF-8";
body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", Meiryo, "メイリオ", "Hiragino Kaku Gothic ProN", -apple-system, BlinkMacSystemFont, Verdana, Arial, Helvetica, sans-serif;
}

.bg-necblue {
  background-color: #04127C !important;
}

.bg-necviolet {
  background-color: #D6D8EA !important;
}

.bg-require-red {
  background-color: #BE375A !important;
  border-radius: 0%;
}

.bg-gray {
  background-color: #EFEFEF !important;
}

.bg-darkgray {
  background-color: #EBECF5 !important;
}

.bg-toplink {
  background-color: #646E74 !important;
}

.text-body {
  color: #4f4f4f !important;
}

.text-necblue {
  color: #04127C !important;
}

.text-necsecondary {
  color: #656766 !important;
}

.text-helptext {
  color: #666666 !important;
}

.text-requirered {
  color: #BE375A !important;
}

.border-requirered {
  border-color: #BE375A !important;
}

.border-darkgray {
  border-color: #BBBBBB !important;
}

.border-necblue {
  border-color: #04127C !important;
}

.border-necviolet {
  border-color: #D6D8EA !important;
}

.border-necdarkblue {
  border-color: #979DC9 !important;
}

.border-gray {
  border: 1px solid #AEAEAE;
}

.w-header {
  width: 1192px !important;
}

.w-footer {
  width: 1192px !important;
}

.w-content {
  width: 1000px !important;
}

header {
  position: relative;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  height: 6px;
  background: linear-gradient(90deg, rgb(4, 18, 124) 0%, rgb(9, 9, 121) 29%, rgb(9, 26, 126) 36%, rgb(24, 51, 132) 49%, rgb(14, 44, 138) 59%, rgb(29, 66, 142) 68%, rgb(82, 148, 156) 78%, rgb(101, 179, 164) 91%, rgb(160, 216, 173) 100%);
  width: 100%;
  z-index: 3;
}

footer p {
  min-width: 280px;
  border-top: solid 1px #fff;
}
@media (min-width: 576px) {
  footer p {
    border-top: none;
  }
}
footer .linkbox {
  border-bottom: solid 1px #fff;
}
@media (min-width: 576px) {
  footer .linkbox {
    border-bottom: none;
  }
}
footer .linkbox a {
  width: 50% !important;
}
footer .linkbox a:first-child {
  border-right: solid 1px #fff;
}
@media (min-width: 576px) {
  footer .linkbox a {
    width: auto !important;
  }
  footer .linkbox a:first-child {
    border-right: none;
  }
}

input {
  /* 旧Edge対応 */
  /* IE対応 */
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}
input::placeholder {
  color: #999999;
}
input::-ms-input-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}
input[type=checkbox] {
  width: 24px !important;
  height: 24px !important;
  border: solid 1px #CAD0D7 !important;
  border-radius: 0px !important;
}

.address input {
  width: 90px;
}
@media (min-width: 1192px) {
  .address input {
    width: 140px;
  }
}
.address .left {
  min-width: 170px !important;
}
.address .search {
  cursor: pointer;
}

.form-check-input[type=checkbox] {
  margin-top: 0.1em;
}
.form-check-input[type=checkbox]:before {
  width: 24px !important;
  height: 24px !important;
}
.form-check-input[type=checkbox]:after {
  margin-left: 8px !important;
  margin-top: 2px !important;
}

.w-90 {
  width: 90% !important;
}

@media (min-width: 576px) {
  .w-sm-75 {
    width: 75%;
  }
}

@media (min-width: 576px) {
  .w-sm-auto {
    width: auto;
  }
}

.mw-90 {
  max-width: 90% !important;
}

.dropdown-toggle.show {
  border: solid 1px #000 !important;
}

div.selectwrap {
  position: relative;
}
div.selectwrap:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 12px;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("../../../img/selectappearance.png");
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
select.prefectures {
  width: 192px;
}
@media (min-width: 1192px) {
  select.prefectures {
    width: 250px;
  }
}

.toplink {
  right: 0;
  bottom: 80px;
}
@media (max-width: 576px) {
  .toplink {
    bottom: 170px;
  }
}

.underline {
  text-decoration: underline;
  color: #4f4f4f;
}

.newform-step {
  max-width: 90%;
  margin: 0 auto;
}
.newform-step .col-4 {
  width: 33%;
}

.caption {
  font-size: 14px;
}

.form-insetshadow {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.2);
  border: none !important;
}

.middletext {
  font-size: 16px;
  font-weight: medium;
}

.titletext {
  font-size: 19px;
  font-weight: bold;
}
@media (min-width: 576px) {
  .titletext {
    font-size: 30px;
    font-weight: bold;
  }
}

.headingtext {
  font-size: 24px;
  font-weight: bold;
}
@media (min-width: 576px) {
  .headingtext {
    font-size: 30px;
    font-weight: bold;
  }
}

.buttonheight {
  height: 46px;
}

.qa strong::before {
  font-family: serif;
  font-size: 1.5em;
  margin-left: -2em;
  padding-right: 0.5em;
  content: "Q.";
}

.qa div::before {
  font-family: serif;
  font-size: 1.5em;
  margin-left: -41px;
  padding-right: 0.5em;
  content: "A.";
}

.option-icon {
  font-size: x-large;
}

@media (max-width: 700px) {
  .login-box {
    top: 655px;
    width: 393px;
    left: 10px;
    padding: 0.1rem !important;
    padding-top: 3.5rem !important;
    height: 168px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .mb-mw-100 {
    max-width: 100% !important;
  }
  .alert {
    padding: 1.25rem 0rem;
  }
}
.btn-page-move {
  font: normal normal bold 16px/22px Yu Gothic;
  background: transparent linear-gradient(90deg, #04127C 0%, #6069AC 100%) 0% 0% no-repeat padding-box;
  color: #FFFFFF;
}

.btn-page-back {
  font: normal normal bold 16px/22px Yu Gothic;
  background: transparent linear-gradient(90deg, #fff 0%, #fff 100%) 0% 0% no-repeat padding-box;
  color: #04127C;
  border: 1px solid #04127C;
  border-radius: 23px;
}

.link-arrows a::after {
  /* 棒の表示設定 */
  content: "";
  margin: auto;
  position: absolute;
  margin-top: 7px;
  width: 13px;
  /* くの字を山なりに見た時、左側の長さ */
  height: 13px;
  /* くの字を山なりに見た時、右側の長さ */
  border-top: 1px solid #000;
  /* くの字を山なりに見た時、左側の太さと色 */
  border-right: 1px solid #000;
  /* くの字を山なりに見た時、右側の太さと色 */
  transform: rotate(45deg);
}

@media (min-width: 700px) {
  .link-arrow {
    padding-left: 26%;
  }
}
@media (max-width: 700px) {
  .link-arrow {
    padding-left: 6%;
  }
  .navbar-rw {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.w-login {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", Meiryo, "メイリオ", "Hiragino Kaku Gothic ProN", -apple-system, BlinkMacSystemFont, Verdana, Arial, Helvetica, sans-serif;
}

.text-font-1 a {
  color: #000;
}

.border-blues {
  top: 2016px;
  left: 420px;
  width: 189px;
  height: 28px;
  /* UI Properties */
  background: transparent url("img/Button_2_a.png") 0% 0% no-repeat padding-box;
  border: 2px solid #04127C;
  opacity: 1;
}

.form-check-input.is-invalid ~ .form-check-label, .was-validated .form-check-input:invalid ~ .form-check-label {
  color: unset;
  margin-bottom: 1rem;
}

.form-check-input.is-valid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
  color: unset;
  margin-bottom: 1rem;
}

.nec-mt-4 {
  font-size: 16px;
  margin-top: 1.8rem !important;
  color: #BE375A;
}

.buttonheight {
  height: 46px;
}

.qa strong::before {
  font-family: serif;
  font-size: 1.5em;
  margin-left: -2em;
  padding-right: 0.5em;
  content: "Q.";
}

.qa div::before {
  font-family: serif;
  font-size: 1.5em;
  margin-left: -41px;
  padding-right: 0.5em;
  content: "A.";
}

.option-icon {
  font-size: x-large;
}

@media (max-width: 700px) {
  .login-box {
    top: 655px;
    width: 393px;
    left: 10px;
    padding: 0.1rem !important;
    padding-top: 3.5rem !important;
    height: 168px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .mb-mw-100 {
    max-width: 100% !important;
  }
  .alert {
    padding: 1.25rem 0rem;
  }
}
.btn-page-move {
  font: normal normal bold 16px/22px Yu Gothic;
  background: transparent linear-gradient(90deg, #04127C 0%, #6069AC 100%) 0% 0% no-repeat padding-box;
  color: #FFFFFF;
}

.btn-page-back {
  font: normal normal bold 16px/22px Yu Gothic;
  background: transparent linear-gradient(90deg, #fff 0%, #fff 100%) 0% 0% no-repeat padding-box;
  color: #04127C;
  border: 1px solid #04127C;
  border-radius: 23px;
}

.link-arrows a::after {
  /* 棒の表示設定 */
  content: "";
  margin: auto;
  position: absolute;
  margin-top: 7px;
  width: 13px;
  /* くの字を山なりに見た時、左側の長さ */
  height: 13px;
  /* くの字を山なりに見た時、右側の長さ */
  border-top: 1px solid #000;
  /* くの字を山なりに見た時、左側の太さと色 */
  border-right: 1px solid #000;
  /* くの字を山なりに見た時、右側の太さと色 */
  transform: rotate(45deg);
}

@media (min-width: 700px) {
  .link-arrow {
    padding-left: 26%;
  }
}
@media (max-width: 700px) {
  .link-arrow {
    padding-left: 6%;
  }
  .navbar-rw {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.w-login {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", Meiryo, "メイリオ", "Hiragino Kaku Gothic ProN", -apple-system, BlinkMacSystemFont, Verdana, Arial, Helvetica, sans-serif;
}

.text-font-1 a {
  color: #000;
}

.border-blues {
  top: 2016px;
  left: 420px;
  width: 189px;
  height: 28px;
  /* UI Properties */
  background: transparent url("img/Button_2_a.png") 0% 0% no-repeat padding-box;
  border: 2px solid #04127C;
  opacity: 1;
}

.form-check-input.is-invalid ~ .form-check-label, .was-validated .form-check-input:invalid ~ .form-check-label {
  color: unset;
  margin-bottom: 1rem;
}

.form-check-input.is-valid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
  color: unset;
  margin-bottom: 1rem;
}

.nec-mt-4 {
  font-size: 16px;
  margin-top: 1.8rem !important;
  color: #BE375A;
}

.buttonheight {
  height: 46px;
}

.toast-header {
  cursor: pointer;
}

#textarea_other_reason {
  display: none;
}

.bg-myportal-menu {
  background-color: #F6F6F6;
}/*# sourceMappingURL=custom.css.map */
